@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.weatherCard {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
}

.locName,
.forecastTitle {
  font-family: 'Montserrat', sans-serif;
};

.forecastCard {
  display: inline-block;
  padding: 10px;
  overflow: auto;
  list-style-type: none;

  &:hover {
    background: #d3d3d3;
  }
}
