@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.forecastCard {
  width: 300px;
  height: 140px;
  margin-bottom: 5px;
  list-style-type: none;

  &:hover {
    cursor: pointer;
    background-color: rgb(238, 237, 237);
    border: 2px solid rgb(129, 125, 125);
  }
}

.weatherCard {
  width: 270px;
  padding: 16px;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid rgb(129, 125, 125);
}

.locName {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;;
}

.forecastTitle {
  font-family: 'Montserrat', sans-serif;;
};
