.coinCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin-bottom: 6px;

  &:hover {
    cursor: pointer;
    background-color: rgb(238, 237, 237);
  }
}

.icon {
  position: absolute;
  top: 25px;
  left: 176px;
  width: 90px;
  height: 90px;
}
