.coinCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  padding: 5px;
  margin-bottom: 6px;

  &:hover {
    cursor: pointer;
    background-color: rgb(238, 237, 237);
  }
}

.coinName {
  position: relative;
  font-size: 1rem;
}

.icon {
  position: absolute;
  top: 2px;
  left: 210px;
  width: 55px;
  height: 55px;
}

.coinPrice {
  padding: 1px 2px;
  font-size: 1rem;
  border: 1px solid #474747;
  border-radius: 5px;
}

.coinMarketcap {
  font-size: 0.8rem;
}

.coinPriceChange {
  font-size: 1rem;
}

.coinPercentRed {
  display: inline;
  padding: 0 2px;
  margin-left: 3px;
  font-size: 0.9rem;
  color: #f00606;
  border: 1px solid #f00606;
  border-radius: 5px;
}

.coinPercentGreen {
  display: inline;
  padding: 0 1px;
  margin-left: 3px;
  font-size: 0.9rem;
  color: #0fbd0f;
  border: 1px solid #0fbd0f;
  border-radius: 5px;
}
