@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.coinApp {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background-color: #fff;
}

.coinSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}

.coinText {
  margin-bottom: 22px;
  text-align: center;
}

.coinInput {
  width: 300px;
  height: 40px;
  padding-left: 16px;
  border: 2px solid #000;
  border-radius: 4px;
}

.icon {
  width: 25px;
  height: 25px;
  padding-top: 2px;
  padding-left: 10px;
}

.coinName {
  font-size: 16px;
}

.coinPercentRed {
  color: #f00606;
}

.coinPercentGreen {
  color: #088a08;
}
