.addWidgetsDialogTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialogContent {
  display: flex;
  flex-wrap: wrap;
}

.widgetPreviewCard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 100px;
  margin: 5px;
}

.widgetIcon {
  width: 50px !important;
  height: 50px !important;
}

.addWidgetsDialogPaper {
  width: 600px;
}

.addWidgetsActionAreaRoot {
  display: flex !important;
  height: 100%;
}
