@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.coinApp {
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
}

.coinText {
  margin: 0 0 16px;
  text-align: center;
}
