@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.coinApp {
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin: 0 0 8px;
  text-align: center;
}
