@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.timerContainer {
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.display {
  margin-bottom: 1.15rem;

  span {
    font-size: 2.25rem;
  }
}
