@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.timerContainer {
  text-align: center;
  border: 1px solid rgb(88, 85, 85);
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.display {
  margin-bottom: 20px;

  span {
    font-size: 36px;
  }
}
