@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$headers-font: 'Montserrat', sans-serif;

.title {
  margin-top: 0;
  font-family: $headers-font;
};

.locations {
  font-family: $headers-font;
}
