@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$headers-font: 'Montserrat', sans-serif;

.weatherWidgetContainer {
  width: 300px;
  padding: 8px;
}

h3 {
  margin: auto;
  font-family: $headers-font;
  text-align: center;
};
