@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$headers-font: 'Montserrat', sans-serif;

.weatherWidgetContainer {
  padding: 8px;
}

.title,
.locations {
  margin: 0 auto;
  font-family: $headers-font;
  text-align: center;
};
